<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style2.css">
<meta charset="UTF-8"> <!--可以顯示中文字體-->
<title>早午餐店產銷資訊系統</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body{
background-attachment: fixed;
background-repeat: no-repeat;
background-position:left top;
background-size: cover;
} 
div{
margin:0px auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body background="http://cdn.walkerland.com.tw/images/upload/poi/p61383/m52282/1c45ef86594e201d6e8dc6d6cadd51a651a00ef4.jpg">
<div>
  <div class="btn-group btn-group-justified" style = "height:60px;">
    <a href="http://127.0.0.1:8000/main/" class="btn btn-primary">首頁</a>
	<div class="btn-group">
      <button style = "height:60px;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      銷售統計<span class="caret"></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="index8-3.htm">STP</a></li>
		<li><a href="index8-7.htm">Customer Analysis</a></li>
      </ul>
    </div>
	<div class="btn-group">
      <button style = "height:60px;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      顧客分析<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="index8-3.htm">Bill of Material</a></li>
		<li><a href="index8-7.htm">Material Requirement Planning</a></li>
      </ul>
    </div>
	<div class="btn-group">
      <button style = "height:60px;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      作業管理<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="index8-4.htm">Customer Needs</a></li>
      </ul>
    </div>
  </div>
</div>

<br>

<img src = 'https://i.imgur.com/cJ9sIsM.png' class="center" style =height=15% width=15%>

<br>

<div class="container" style="padding:20px;width:400px;text-align:center;background-color:#6495ED">
<b style="font-family:微軟正黑體;font-size:300%;color:white">早午餐店<br>產銷資訊系統</b>
</div>

<br>

<div style="opacity:0.6;background-color:#FFD382;width:1200px;height:1000px;">


	{% for i in memberList %}
		 <p> {{i.name}} {{i.age}} 歲</p>
	{% endfor %}

	{% for i in productList %}
		 <p> {{i.name}} {{i.price}} 元</p>
	{% endfor %}


</div>
<br>
<marquee behavior="scroll" direction="left">請勿複製程式碼！</marquee>
<br>
</body>
</html>